*{
    margin: 0;
    padding: 0;
}

body{
    .shadows-into-light-regular {
        font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
      }
}

.cabecalho {
    background-color: #FFFB9F;
    color: rgb(187, 187, 187);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.Livros-imagem{
    width: 25%;
}

.Livros{
    background-image: linear-gradient(#FAE4CC,#fae4cc);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.Livros-div-conteudo{
    width: 35%;
}
.Livros-titulo{
    padding: 24px 0;
}
.Quadrinhos-imagem{
    width: 120px;
}
.Quadrinhos-icone{
    width: 24px;
}