{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #FFFB9F;
    color: rgb(187, 187, 187);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}